.bundle
tmp/cache
tmp/pids
log/*.log
*.DS_Store
# Ignore application configuration
/config/application.yml
.powenv
node_modules/
ssl/

# This is included via a Gem
vendor/assets/bower_components/angular/*
vendor/assets/bower_components/jquery/*
vendor/assets/bower_components/flexslider/demo/*
vendor/assets/bower_components/flexslider/fonts/*
vendor/assets/bower_components/angular-flexslider/examples/*
casper-results.xml
vendor/assets/bower_components/angular-leaflet-directive/grunt/*
vendor/assets/bower_components/font-awesome/*
vendor/assets/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js
