<p>
  You’ve just signed on to join hundreds (maybe thousands?!)
  of kindred spirits all over the world to celebrate the simple
  pleasure of a bicycle campout!
</p>

<p>
  We hope you’re already dreaming up the perfect spot to pitch
  camp after a good day of riding!
</p>

<p>
  Some folks will skip town with a crew they know and love--the
  travel companions that have weathered many miles together.
</p>

<p>
  Others will invite friends and strangers to camp by bicycle
  for the first time!
</p>

<p>
  We’ll leave it to you to choose the destination, terrain and
  the level of challenge.
</p>

<p>
  But we do ask that your adventure is self-supported and that
  you leave no trace.
</p>

<p>
  There will be<br>
Ladies organizing rides for ladies,<br>
Anglers chasing rivers for a weekend of cycling and fly fishing,<br>
Families packing up their kids to bike-camp with toys in tow, and<br>
Shops inviting their customers on a weekend joy ride!
</p>

<p>
  Share your Swift Campout stories by logging into your account at<br>  <a href="https://builtbyswift.com/swiftcampout/sign_up">https://builtbyswift.com/swiftcampout/sign_up</a><br><br>
and better yet, drop us a line from the trail!</p>

<p>Postcards can be sent to:</p>

<p>Swift Industries
1415 NW 49th St<br>
Seattle WA 98107<br>
</p>

<p>Stay tuned for chances to win amazing goodies from <a href="http://www.tenkararodco.com">Tenkara Rod Co</a>, <a href="http://www.pedalinn.com">Pedal Inn</a>, and <a href="http://oceanaircycles.com">Ocean Air Cycles</a> and
  <a href="https://www.builtbyswift.com">Swift Industries</a>.</p>

<p>We spend our days working the sewing machines at Swift Industries because you’ve inspired us to take our bicycles to beautiful open places.</p>

<p>Thanks for joining with a #SwiftCampout!</p>

<%= image_tag "solstice/InstagramBadge_SwiftCampout1.jpg" %><br>
<%= image_tag "solstice/InstagramBadge_SwiftCampout2.jpg" %><br>
<%= image_tag "solstice/Swift_Campout_instagram_invite.jpg" %>
