@import "color";

body.pub {
    footer {
        position: relative;
        margin: 10px auto;
        padding-bottom: 10em;
        ul {
            margin: 0;
            padding: 0;
            padding-right: 20px;
            line-height: 1.5;
        }
        li {
            margin: 0;
            padding: 0;
            display: block;
            float: left;
            margin-right: 1em;
            font-size: 12px;
            a, span {
                text-transform: uppercase;
                font-family: helvetica neue, helvetica, arial, sans-serif;
                color: #444;
                text-decoration: none;
                text-shadow: 1px 1px 1px rgba(0,0,0,.15);
            }
            a:hover {
                color: $hotpink;
            }
        }
        img {
            position: absolute;
            right: .5em;
            top: 0;
        }
    }
}