body.hub {
    textarea {
        width: 300px;
    }
    input[type='text'] {
        width: 250px;
    }
    textarea,
    input[type='text'] {
        font-size: 12px;
    }
}
textarea,input[type='text'] {
    padding: 0.2em 0.3em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius:0.2em;
    border-radius:0.2em;
    border: 0.1em solid #aaa;
    -moz-box-shadow: inset 0 0 0.2em 0.2em #f6f6f6;
    -webkit-box-shadow: inset 0 0 0.2em 0.2em #f6f6f6;
    box-shadow: inset 0 0 0.2em 0.2em #f6f6f6;
}
input#color_hex {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
textarea:focus,input[type='text']:focus {
    border-color: #487AF8;
    border-width: 0.1em;
    outline: 0;
}
input[type=submit]:hover {
  cursor: pointer;
  background: #E8E8E8;
}
input[type=submit]::-moz-focus-inner {
  border:0;
}
input[type=submit] {
    background: #e3e3e3;
    border: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    padding: 8px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 150px;
}


pre {
  background-color: #eee;
  padding: 1em;
}
.field, .actions {
  margin-bottom: 1em;
}
#notice {
  color: green;
}
.field_with_errors {
  padding: 0.2em;
  background-color: red;
  color: white;
  font-weight: bold;
  display: table;
}
#error_explanation {
  margin-bottom: 2em;
}
#error_explanation h2 {
  font-size: 1.5em;
  padding: 0.3em 0.8em;
  margin: 0;
  background-color: #c00;
  color: #fff;
  font-family: Helvetica, sans-serif;
}
#error_explanation ul li {
  font-size: 1.4em;
  list-style: square;
}
