@import "color";
@import "fx";

body.pub {
    #box {
        @include boxshadow;
    }

    .content_wrapper {
        margin: 5px 0;
        .content {
            padding: 5px;
        }
    }
    .right_col {
        position: relative;
        .content_wrapper {
            .content {
                min-height: 500px;
                padding-bottom: 120px;
                background-color: $background_gray;
            }
        }
    }


    #bike_btn, #logo {
        position: absolute;
        right: 15px;
    }
    #bike_btn {
        bottom: 50px;
    }
    #logo {
        bottom: 15px;
    }
}
