@import "color";
@import "fx";

body.pub {
    #box {
        @include boxshadow;
    }

    .content_wrapper {
        margin: 5px 0;
        .content {
            padding: 5px;
        }
    }
    .right_col {
        .content_wrapper {
            .content {
                background-color: $background_gray;
            }
        }
        #bike_btn {
            margin-bottom: 10px;
            padding-left: 5px;
            margin-top: 150px;
        }
        #logo {
            padding-left: 24px;
            padding-bottom: 25px;
        }
    }


}
