body.pub {
    #page_title.logo {
        background: transparent url('/images/header-logo.gif') no-repeat;
        width: 429px;
        height: 110px;
        text-indent: -10000px;
        line-height: 1;
        margin: 5px 0 5px;
    }
}