@import "color";

#page_pages_show {
    .left_col {
        #swift_slideshow_wrapper { margin-bottom: 15px; }
        .content {
            padding: 0;
            .text_content {
                padding: 0 10px;
                article h2 { text-transform: none; }
            }
        }
    }
    .right_col .content {
        padding: 0 !important;
        iframe { margin: 5px 0 0 5px; }
    }
}