@import "color";

#page_pages_show {
    .content_wrapper {
        #swift_slideshow_wrapper {
            margin-bottom: 15px;
        }
        article {
            h2 {
                text-transform: none;
            }
        }
    }
    .right_col .content {
        height: 100%;
    }
}