@import "color";

body.pub {
    background-color: $background_offwhite;
    font-family: courier new, menlo, monaco;

    button, p, h1, h2, h3, h4, h5, ul, li a {
        font-family: courier new, menlo, monaco;
    }
    #box {
        border: 1px solid $border_gray;
        background-color: #fff;
        margin-top: 40px;
    }
    #submit_order, #bike_btn {
        font-size: 14px;
    }
    #submit_order {
        display: block;
        background: transparent url('/images/forward-shopping.gif') no-repeat;
        cursor: pointer;
        border: 0;
        margin: 0;
        padding: 0;
        width: 148px;
        height: 82px;
        line-height: 1.5;
        padding-top: 21px;
        text-align: center;
        text-transform: uppercase;
    }
    #bike_btn {
        background: transparent url('/images/bike.gif') no-repeat;
        display: block;
        text-transform: uppercase;
        text-align: center;
        text-indent: -7px;
        width: 116px;
        height: 78px;
        line-height: 78px;
        padding: 0;
    }
    #logo {
        display: block;
    }
    a, button {
        color: $hotpink;
        text-decoration: none;
    }
}