body.pub {
    background-color: #FEFCFB;
    font-family: courier new, menlo, monaco;

    #box {
        margin: 4em auto 1em;
        border: 1px solid #BEBEBE;
        padding: 1em;
        width: 96em;
    }
    footer {
        width: 98em;
        margin: 0 auto;
        padding-bottom: 10em;
        li {
            display: block;
            float: left;
            margin-right: 1em;
            font-size: 95%;
            a, span {
                text-transform: uppercase;
                font-family: helvetica neue, helvetica, arial, sans-serif;
                color: #444;
                text-decoration: none;
            }
        }
    }
    h2,h3,h4 {
        font-size: 2em;
        font-weight: bold;
    }
    p,h2,h3,h4,ul {
        margin-top: 1em;
    }

}