body.pub {
    background-color: #FEFCFB;
    font-family: courier new, menlo, monaco;

    button, p, h1, h2, h3, h4, h5, ul, li a {
        font-family: courier new, menlo, monaco;
    }
    header {
        margin: 4em auto 1em;
        padding: 0;
        width: 98em;
    }
    #box {
        margin: 1em auto 1em;
        border: 1px solid #BEBEBE;
        padding: 1em;
        width: 96em;
    }
    #page_title.logo {
        background: transparent url('/images/header-logo.gif') no-repeat;
        width: 429px;
        height: 110px;
        text-indent: -10000px;
    }
    footer {
        position: relative;
        width: 98em;
        margin: 0 auto;
        padding-bottom: 10em;
        ul {
            padding-right: 20px;
            line-height: 1.5;
        }
        li {
            display: block;
            float: left;
            margin-right: 1em;
            font-size: 1.3em;
            a, span {
                text-transform: uppercase;
                font-family: helvetica neue, helvetica, arial, sans-serif;
                color: #444;
                text-decoration: none;
            }
        }
        img {
            position: absolute;
            right: .5em;
            top: 0;
        }
    }
    h2,h3,h4 {
        font-size: 2em;
        font-weight: bold;
    }
    p,h2,h3,h4,ul {
        margin-bottom: 1em;
    }

    #color_swatches {
        position: fixed;
        z-index: 99999;
        top: 5%;
        right: 0;
        list-style-type: none;
        li {
            -webkit-box-shadow:0 3px 5px rgba(0,0,0,0.5);
            -moz-box-shadow:0 3px 5px rgba(0,0,0,0.5);
            box-shadow:0 3px 5px rgba(0,0,0,0.5);
            width: 90px;
            height: 25px;
            padding: 20px;
            text-shadow: 1px 1px 1px rgba(255, 255, 255, .6);
        }
    }
    .col {
        float: left;
        position: relative;
        width: 45em;
        padding: 1.5em;
    }
    .col_gray {
        background-color: #E5E5E5;
        padding-bottom: 20em;
    }

    #submit_order {
        background: transparent url('../../images/forward-shopping.gif') no-repeat;
        cursor: pointer;
        border: 0;
        margin-top: 1em;
        margin-left: -1em;
        width: 148px;
        height: 82px;
        font-size: 1.1em;
        line-height: 100px;
        text-align: center;
        text-transform: uppercase;
    }
    #footer_branding {
        margin: 0;
        padding: 0;
        line-height: 1;
        #bike_btn {
            position: absolute;
            bottom: 5em;
            right: 1em;

            width: 116px;
            height: 78px;
            display: block;
            background: transparent url('../../images/bike.gif') no-repeat;
            text-transform: uppercase;
            line-height: 80px;
            text-align: center;
            font-size: 90%;
        }
        #logo {
            display: block;

            position: absolute;
            bottom: 1em;
            right: 1em;

        }
    }

    a, button {
        color: #C34093;
        text-decoration: none;
    }

    .fields {
        p.label, p.input {
            float: left;
            line-height: 1.7;
        }
        p.label {
            text-align: right;
            margin-right: 1em;
            width: 10em;
        }
        p.input {
            width: 14em;
        }
        p.input.no_color_choices {
            color: #aaa;
            font-family: Georgia, times new roman, times, serif;
            font-style: italic;
        }
        input[type=text],
        select {
            min-width: 200px;
        }
        .divider {
            border-top: 1px dashed #ccc;
            width: 60%;
            margin: 0 auto 1em;

        }
    }

}