#box {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 660px;
    position: relative;
}
.session_link {
    position: absolute;
    top: 10px;
    right: 10px;
}
td, th {
    padding: 5px;
}

h1,h2,ul {
    font-size: 18px;
    margin: 20px 0 0 0;
}
h1 {
    margin: 0 0 40px;
    font-style: italic;
}
ul {
    margin-top: 0;
}