html,body {
    background-color: #fafafa;
    line-height: 1.6;
}
#box {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 880px;
    position: relative;
}
th {
    border-bottom: 1px solid #ccc;
}
td, th {
    padding: 5px;
}

h1,h2,ul {
    font-size: 18px;
    margin: 20px 0 0 0;
}
h1 {
    margin: 0 0 40px;
    font-style: italic;
}
ul {
    margin-top: 0;
}

a {
    color: #555;
    background-color: #eee;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}
a:active {
    color: white;
    background-color: blue;
    text-decoration: none;
}

.private {
    background-color: #ffa;
}