html,body {
    background-color: #fafafa;
    line-height: 1.6;
}
#box {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 880px;
    position: relative;
}
th {
    border-bottom: 1px solid #ccc;
}
td, th {
    padding: 5px;
}
h1,h2,h3,h4,ul,p {
    margin: 20px 0 0 0;
}
p.hint {
    margin-top: 0;
    font-family: lucida grande, sans-serif;
    font-size: 70%;
    color: #888;
}
h1 {
    margin: 0 0 40px;
    font-style: italic;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
ul,li {
    list-style-type: square;
}
ul {
    margin-top: 0;
    padding-left: 20px;
}

a {
    color: #555;
    background-color: #eee;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}
a:active {
    color: white;
    background-color: blue;
    text-decoration: none;
}

.private {
    background-color: #ffa;
}

.indent {
    background-color: rgba(0,0,0,.05);
    padding: 10px;
    margin-left: 20px;
}