<h1>Pre-approved Dealer Email Addresses</h1>
<p>
  A list of email addresses which are pre-approved. If a new dealer
  signs up with one of these email addresses, they will automatically
  receive wholesale pricing.
</p>
<p>
  <%= link_to raw('&larr; Hub'), hub_index_path, class: "btn" %>
  <%= link_to 'New pre-approved dealer', new_pre_approved_dealer_path, class: "btn" %>
</p>
<table class="table">
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pre_approved_dealers.each do |pre_approved_dealer| %>
  <tr>
    <td><%= pre_approved_dealer.email %></td>
    <td><%= link_to 'Destroy', pre_approved_dealer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn--table" %></td>
  </tr>
<% end %>
</table>

