<%= content_for :pre_box do %>
<div id="pre_box" class="container_24">
  <div class="grid_6 prefix_18">
    <%= link_to "Review Your Cart/Checkout", "#{APP_CONFIG['store_host']}#{APP_CONFIG['review_cart_path']}#{APP_CONFIG['store_userid']}"%>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<% end %>
