<p id="footer">
  --------------------------------
</p>
<ul>
  <li>
    <%= @company.phone %>
  </li>
  <li>
    <%= @company.email %>
  </li>
  <li>
    <%= link_to "Home", root_path %>
  </li>
  <li>
    <%= link_to "Accessories", accessories_path %>
  </li>
</ul>
