<div class="l-row row-humans">
    This site was built by
    <%= link_to "Charles Stuart", "http://portfolio.enure.net", :class => "humans-link" %>.
  &nbsp;Entypo pictograms by <%= link_to "Daniel Bruce", "//entypo.com", :class => "humans-link" %>.
</div>
