<div class="row-humans sixteen columns clearfix">
    This site was built by <a href="http://enure.net/portfolio">Charles Stuart</a> and designed by <a href="http://tinylittlehammers.com/">Dylan Mcconnell</a>.
</div>

