<div class="row-humans sixteen columns clearfix">
    This site was built by
    <%= link_to "Charles Stuart", "//enure.net/portfolio", :class => "humans-link" %>.
	&nbsp;Entypo pictograms by <%= link_to "Daniel Bruce", "//entypo.com", :class => "humans-link" %>.
</div>

