<p class="hint">
  <% if defined? also && also.present? %>
    <%= also %>
  <% end %>
  This field uses markdown (<a target="_blank" href="http://www.google.com/search?client=safari&rls=en&q=markdown+cheat+sheet&ie=UTF-8&oe=UTF-8">help</a>).
</p>
