<div class="pin-it-button-wrapper">
    <a href="http://pinterest.com/pin/create/button/?url=<%= CGI.escape url %>&media=&<%= CGI.escape media %>&description=<%= CGI.escape "Swift Industries:" %><%= CGI.escape description %>" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It"></a>
</div>
