<li class="nav-list--group-item">
  <%= link_to raw("<i class=icon-twitter></i>"), APP_CONFIG[:twitter_url], class: "nav-list--group-item-link", title: "Follow us on Twitter" %>
</li>
<li class="nav-list--group-item">
  <%= link_to raw("<i class=icon-facebook></i>"), APP_CONFIG[:facebook_url], class: "nav-list--group-item-link", title: "Like us on Facebook" %>
</li>
<li class="nav-list--group-item">
  <%= link_to raw("<i class=icon-instagram></i>"), APP_CONFIG[:instagram_url], class: "nav-list--group-item-link", title: "Follow us on Instagram" %>
</li>
<li class="nav-list--group-item" style="display:none">
  <%= link_to raw("<i class=icon-flickr></i>"), APP_CONFIG[:flickr_group_url], class: "nav-list--group-item-link", title: "View our Flickr Group" %>
</li>
