<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <style>
        body {
            font-family: Helvetica, Arial, san-serif;
        }
    </style>
</head>
<body>
    <p>
        <strong>Your order has shipped.</strong>
    </p>
    <p>
        You can find the shipping details at:
    </p>
    <ul>
        <li>
            <a href="http://builtbyswift.com/orders/<%= @guid %>">
                http://builtbyswift.com/orders/<%= @guid %>
            </a>
        </li>
    </ul>
    <p>
        Thanks for choosing Swift Industries
    </p>
</body>
</html>
