<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <style>
        body {
            font-family: Helvetica, Arial, san-serif;
        }
    </style>
</head>
<body>
    <p>
        <strong>
          Your order has shipped via USPS. There is no tracking available.
        </strong>
    </p>
    <p>
        You can find all of your order details at:
    </p>
    <ul>
        <li>
            <a href="https://www.builtbyswift.com/orders/<%= @sale.guid %>">
                https://www.builtbyswift.com/orders/<%= @sale.guid %>
            </a>
        </li>
    </ul>
    <p>
        Thanks for choosing Swift Industries
    </p>
</body>
</html>
