<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <style>
        body {
            font-family: Helvetica, Arial, san-serif;
        }
    </style>
</head>
<body>
    <p>
        <strong>Your order has shipped via <%= @sale.shipping_provider.upcase %> and
        has a tracking number of <%= @sale.shipping_tracking_number %>.</strong>
    </p>
    <p>
        You can find all of your order details at:
    </p>
    <ul>
        <li>
            <a href="http://builtbyswift.com/orders/<%= @sale.guid %>">
                http://builtbyswift.com/orders/<%= @sale.guid %>
            </a>
        </li>
    </ul>
    <p>
        Thanks for choosing Swift Industries
    </p>
</body>
</html>
