<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <style>
        body {
            font-family: Helvetica, Arial, san-serif;
        }
    </style>
</head>
<body>
    <p>
        <strong>Your order is up on the board.</strong>
    </p>
    <p>
        You can find the details of your order at:
    </p>
    <ul>
        <li>
            <a href="http://builtbyswift.com/orders/<%= @guid %>">
                http://builtbyswift.com/orders/<%= @guid %>
            </a>
        </li>
    </ul>
    <p>
        <strong>Wait time</strong>
    </p>
    <p>
        <strong>Custom</strong>: If your order is custom,  we'll need a calendar month to complete
        your order. Thanks in advance for your patience!
    </p>
    <p>
        <strong>Stock</strong>: If you purchased stock and accessories your purchase will be in the
        mail within three working days.
    </p>
    <p>
        <strong>Shipping and pick-up info</strong>
    </p>
    <p>
        You will receive shipping confirmation when the parcel is on its way. International Shipping
        is sent through USPS. USPS does not offer international tracking, but you will receive a
        shipping confirmation email. For local pick up, we'll let you know when the bags are finished!
    </p>
    <p>
        <strong>Soapbox</strong>
    </p>
    <p>
        And lastly, your purchase supports a small bicycle business right in the Pacific Northwest.
        By supporting Swift you are keeping the bicycle economy diverse and domestic, but even more
        importantly, you are putting money into handcraft products.
    </p>
    <p>
        Thanks for choosing Swift Industries
    </p>
</body>
</html>
