<script type="text/ng-template" id="flickr.html">
  <div
    class="FlickrDir-img"
    afkl-lazy-image='{{ photo.source }}'
    afkl-lazy-image-options='{ "alt": "{{name}}"}'>
    <div class="FlickrDir-name">
      {{ name }}
    </div>
  </div>
</script>
