<script type="text/ng-template" id="instagram.html">
  <div class="InstaDir-items">
    <flex-slider slide="media in mediaItems track by $index">
      <li>
        <a ng-href="{{ media.link }}">
          <div
            class="InstaDir-img"
            afkl-lazy-image='{{ media.standard }}'>
          </div>
        </a>
        <div class="InstaDir-text" ng-if="media.text" style="display:none">
          {{ media.text }}
        </div>
        <a class="InstaDir-username" ng-href="https://instagram.com/{{ media.username }}">
          {{ media.username }}
        </a>
      </li>
    </flex-slider>
  </div>
</script>
