<div class="col-cntnt">
  <% if user_signed_in? && current_user.is_camper? %>
    <p class="S-p S-p--map-heading" ng-if="newCamper">
      Thanks for joining Swift Campout. Find your pin on the
      map, then check your inbox to get started planning your
      great escape! XO Team Swift
    </p>
  <% end %>
  <p class="S-p S-p--map-heading">
    <% if !user_signed_in? || current_user.is_not_camper? %>
      Sign up to mark the map with your campout.
      <span ng-if="camperCount">{{ camperCount }} people are currently signed up.</span>
    <% else %>
      <span ng-if="camperCount">You and {{ camperCount }} other people are currently signed up!</span>
    <% end %>
  </p>
  <leaflet
    center="kc"
    markers="markers"
    tiles="tiles"
    defaults="defaults">
  </leaflet>
  <div class="S-map--chooser">
    Map style:
    <button class="S-map--btn" ng-click="changeMap('stamenmap')">
      Stamen
    </button>
    or
    <button class="S-map--btn" ng-click="changeMap('openstreetmap')">
      OpenStreetMap
    </button>
    &nbsp;
    &nbsp;
    Map pins: View
    <button class="S-map--btn" ng-click="changePins('all')">
      all pins
    </button>
    or
    <button class="S-map--btn" ng-click="changePins('public')">
      pins with public profiles
    </button>
  </div>
</div>
