<p class="S-p S-p--heading">
  Once you’ve joined there’s lots to win!
</p>
<p class="S-p">
  Share <a href="#journal-and-films" class="S-a" target="_self">Campout Films</a> to earn a touring outfit from Swift Industries, complete with an Adventure Cycling Association membership and add <a href="#journal-and-films" class="S-a" target="_self">Trip Journals</a> to win Swift Campout accessories. But there’s more: we’ll kick-start give-aways with patches for the first 25 campers to sign up, and the goodies will keep coming as Swift Campout weekend rolls around.
</p>
