<div class="S-col--prizes">
  <p class="S-p S-col-heading">
    Prizes
  </p>
  <sw-flickr-photo id="8447087731" label="Large Square" name="Full Touring Set-up"></sw-flickr-photo>
  <sw-flickr-photo id="10801429955" label="Large Square" name="Patch"></sw-flickr-photo>
  <sw-flickr-photo id="14376087946" label="Large Square" name="Swift T-Shirts"></sw-flickr-photo>
  <sw-flickr-photo id="7706352484" label="Large Square" name="Tenkara Rod Co Teton Rod"></sw-flickr-photo>
  <sw-flickr-photo id="16225581962" label="Large Square" name="Adventure Cycling Association Membership"></sw-flickr-photo>
</div>
