<div class="S-col--rec-gear">
  <p class="S-p S-col-heading">
    Recommended Gear
  </p>
  <sw-flickr-photo id="16186969493" label="Large Square" name="Junior Ranger Panniers"></sw-flickr-photo>
  <sw-flickr-photo id="16177012833" label="Large Square" name="The Campout Kit: Kerchief, Patch, and Field Notes"></sw-flickr-photo>
  <sw-flickr-photo id="15150441340" label="Large Square" name="Sno Peak Kitchen Kit"></sw-flickr-photo>
  <sw-flickr-photo id="15147527950" label="Large Square" name="Zeitgeist Saddle Bag"></sw-flickr-photo>
  <sw-flickr-photo id="15389285153" label="Large Square" name="Lark Travel Kite"></sw-flickr-photo>
</div>
