<p class="S-p S-p--heading">
  About Trip Journals
</p>
<p class="S-p">
  Four dynamic trip journals will be featured on builtbyswift.com
  and the winnings include goods from Tenkara Rod Co., Swift
  Industries, and an Adventure Cycling Association membership.
</p>
<p class="S-p">
  Terms and Guidelines
</p>
<ul class="S-ul">
  <li class="S-li">
    Due July 10th, 2015
  </li>
  <li class="S-li">
    200-500 words and 2 high quality photos (300 dpi, 12” wide)
  </li>
  <li class="S-li">
    All content must be original work, please submit your trip
    journal in Microsoft Word format with your first initial and
    last name as the title. Include your name and email address
    at the header of the document.
  </li>
</ul>

