<script type="text/ng-template" id="films.html">
  <p class="S-p S-p--heading">
    About Campout Films
  </p>
  <p class="S-p">
    Take us along for an adventure. We’re gathering Swift Campout Films to inspire
    the next person to pack up some camp gear and pedal out to parts unknown. Make
    it so good we think we can smell the smoke of last night’s fire in our clothes,
    and feel the hard earned miles in our legs. We’re looking for short films that
    make us want to quit our jobs and take to the open road!
  </p>
  <p class="S-p">
    First Place Prize
  </p>
  <p class="S-p">
    Swift Campout Edition Junior Ranger Panniers, Zeitgeist Saddle Bag and Paloma
    Handlebar Bag including mounting hardware and a membership to Adventure Cycling
    Association.
  </p>
  <p class="S-p">
    Second and Third Place Prizes
  </p>
  <p class="S-p">
    Two runners up will receive Swift Campout Edition Zeitgeist Saddle Bags.
  </p>
  <p class="S-p">
    Terms and Guidelines
  </p>
  <ul class="S-ul">
    <li class="S-li">
      Due July 18th, 2015
    </li>
    <li class="S-li">
      All footage needs to be original and created for the Swift Campout.
    </li>
    <li class="S-li">
      All music must be original, licensed, or open-sourced.
    </li>
    <li class="S-li">
      All folks filmed need to provide signatures of participation.
    </li>
    <li class="S-li">
      Film needs to include “#swiftcampout” and builtbyswift.com in the credits.
    </li>
    <li class="S-li">
      Swift Industries will hold the rights to use all winning films on
      builtbyswift.com and all company promotion including public and private
      showings. Swift Industries will not have the rights to sell or distribute
      your film for profit.
    </li>
    <li class="S-li">
      All short movies will be submitted through Vimeo and YouTube, specific
      posting instructions will be announced in June.
    </li>
  </ul>
</script>
