<div ng-controller="SolsticeCtrl">
  <div class="grid">
    <div class="unit whole">
      <h2>
        Swift Campout
      </h2>
    </div>
  </div>
  <div class="grid">
    <div class="unit whole">
      <leaflet
        center="kc"
        markers="markers"
        tiles="tiles"
        defaults="defaults">
      </leaflet>
    </div>
  </div>
  <div class="grid">
    <div class="unit half">
      <sw-twitter tag="bicycle"></sw-twitter>
    </div>
    <div class="unit half">
      <sw-instagram tag="bicycle"></sw-instagram>
    </div>
  </div>
  <%= render 'twitter' %>
  <%= render 'instagram' %>
</div>
