<ul class="nav-list">
    <% @categories.each do |category| %>
        <li class="nav-list--item <%= set_column_classes(@categories.length) %>">
            <strong class="nav-list--group-heading"><%= category.title %></strong>
            <ul class="nav-list--group">
                <% category.products.each do |product| %>
                    <% next unless product.public? %>
                    <li class="nav-list--group-item">
                        <%= link_to product.short_title, product, :class => "nav-list--group-item-link" %>
                    </li>
                <% end %>
            </ul>
        </li>
    <% end %>
</ul>
