<ul class="products-nav">
    <% @categories.each do |category| %>
    <li class="products-nav--item <%= set_column_classes(@categories.length) %>">
            <strong class="products-nav--category-heading"><%= category.title %></strong>
            <ul class="products-nav--category">
                <% category.products.each do |product| %>
                    <li class="products-nav--category-item">
                        <%= link_to product.title, product, :class => "products-nav--category-item-link" %><br>
                        <%# TODO add short description %>
                    </li>
                <% end %>
            </ul>
        </li>
    <% end %>
</ul>
