<div class="l-row S-banner-wrap">
  <a href="/swiftcampout" class="S-banner-link">
    <%=
      image_set_tag "solstice/banner-280px.png",
      {
        "solstice/banner-280px.png" => "280w",
        "solstice/banner-560px.png" => "560w",
        "solstice/banner-649px.png" => "649w",
        "solstice/banner-898px.png" => "898w",
        "solstice/banner-1298px.png" => "1298w"
      },
      class: "S-banner-img js-srcset-img u-resp-img"
    %>
  </a>
</div>
