<% endcap = (index + 1).modulo(3) == 0 ? true : false %>
<div class="one-third column store-item">
    <% photo_url = Product.get_photo_by_id(item.flickr_photo, "Small") %>

    <%= link_to(image_tag(photo_url, :class => "store-item--image"), item) %>
    <h3 class="store-item--heading">
        <%= link_to item.title, item, :class => "store-item--heading-link" %> (<%= item.humane_price_for(session[:is_wholesale_user]) %>)
    </h3>
</div>
<% if endcap %>
    <br class=clear>
<% end %>
