<h2>
  Accessories
</h2>
<ul>
  <% @accessories.each do |accessory| %>
    <li>
      <%= link_to accessory.title, accessory %>
    </li>
  <% end %>
</ul>

<%= content_for :footer do %>
  <%= render :partial => 'shared/footer' %>
<% end %>