<div class="sixteen columns clearfix">
  <% if @stock.present? %>
    <h2 class="store-section-heading">Ready Made</h2>
  <% end %>
</div>
<% @stock.each_with_index do |stock, index| %>
  <%= render "store_items", :item => stock, :index => index %>
<% end %>

<div class="sixteen columns">
  <% if @accessories.present? %>
    <h2 class="store-section-heading">Accessories</h2>
  <% end %>
</div>

<% @accessories.each_with_index do |accessory, index| %>
  <%= render "store_items", :item => accessory, :index => index %>
<% end %>

<br class="clear">

<%= content_for :js do %>
<script>
  $(document).ready(function() {
    $('.store-item--image-lazyload').unveil();
  });
</script>
<% end %>
