<div class="sixteen columns clearfix">
    <% if @stock.present? %>
        <h1 class="store-section-heading">Ready Made</h1>
    <% end %>
</div>
<% @stock.each_with_index do |stock, index| %>
    <%= render 'store_items', :item => stock, :index => index %>
<% end %>

<div class="sixteen columns">
    <% if @accessories.present? %>
        <h1 class="store-section-heading">Accessories</h1>
    <% end %>
</div>

<% @accessories.each_with_index do |accessory, index| %>
    <%= render 'store_items', :item => accessory, :index => index %>
<% end %>

<br class=clear>
