// Third-Party Base Grid
@import 'skeleton/stylesheets/base';
@import 'skeleton/stylesheets/skeleton';
@import 'skeleton/stylesheets/layout';

// Includes
@import 'include-color';

// Base
@import 'base-entypo';
@import 'base-type';

// Layout
@import 'layout-video';

// Modules
@import 'module-buttons';
@import 'module-color.picker';
@import 'module-form';
@import 'module-jquery.impromptu';
@import 'module-jquery.tooltip';
@import 'module-jquery.tabs';
@import 'module-media';
@import 'module-nav';
@import 'module-nojs';
@import 'module-private';
@import 'module-slideshow';


// Layouts
@import 'layout-pub';

// Shared Page Subsections
@import 'layout-footer';
@import 'layout-humans';

// Pages
@import 'glob-homes';
@import 'glob-store';
@import 'glob-order';
@import 'glob-page';



// Override the base style set by Skeleton
a, a:visited {
    color: $hotpink;
    text-decoration: none;
}
a:hover, a:focus {
    color: $hotpink;
}
// End override
