// Third-Party Base Grid
@import 'bower_components/skeleton/stylesheets/base--modified';
@import 'bower_components/skeleton/stylesheets/skeleton';
@import 'bower_components/skeleton/stylesheets/layout';

@import '../javascripts/farbtastic/farbtastic';

@import 'module-form';

body {
  padding-top: 40px;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  border-bottom:1px solid magenta;
}
.hint {
    margin-top: -20px;
    color: #888;
    max-width: 360px;
}
.hint--for-checkbox {
  margin-top: 0;
}
th {
  text-align: left;
  border-bottom: 1px solid #ccc;
  font-weight: bold
}
th,td {
  padding: 8px 10px;
}
tr:nth-child(odd) td {
  background-color: #fafafa;
}
.indent {
    background-color: rgba(255,255,255,.50);
    padding: 20px 20px 0 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #eee;
    max-width: 400px;
    box-shadow: inset 0 0 1px 0 #f6f6f6;
}
.destroy, .add {
    margin-bottom: 0;
}
.destroy > label > a,
.add > label > a,
a.action {
    color: #aaa;
    font-family: lucida grande, sans-serif;
    font-size: 85%;
    border: 0;
    padding: 1px;
}
.destroy > label > a:hover {
    color: #fff;
    background-color: #F00;
}
.add > label > a:hover {
    color: #fff;
    background-color: green;
}
.actions {
    margin: 60px 0;
}

#color_swatch {
    box-shadow:0 3px 5px rgba(0,0,0,0.5);
    width: 300px;
    height: 300px;
    padding: 20px;
}
.color_swatch {
    box-shadow:0 1px 2px rgba(0,0,0,0.5);
}
.color_swatch span {
    background-color: #fff;
    padding: 1px;
    display: inline-block;
}
code {
    font-family: menlo, monospace;
    font-size: 12px;
}
