.color-picker--wrapper {
    margin-bottom: 5px;
}
.color-picker--swatch {
    width: 60px;
    height: 30px;
    float: left;
    color: #fff;
    font-family: sans-serif; // FIXME should be default
    font-weight: bold;
}
.color-picker--change {
    float: left;
    margin-left: 15px;
}
