#page_homes_index {
    nav {
        border: 1px solid $border_gray;
        border-width: 1px 0;
        a {
            line-height: 1.5;
            border-left: 1px dashed $hotpink;
            padding: 10px;
            display: block;
            text-transform: uppercase;
            color: $text_gray;
            font-weight: bold;
        }
        a.last {
            border-right: 1px dashed $hotpink;
            overflow: hidden !important;
        }
        a:hover {
            color: $hotpink;
        }
        a.active {
            background-color: $background_gray;
        }
    }
    table.goto {
        width: 100%;
        td {
            width: 50%;
            a {
                font-family: georgia;
                font-weight: bold;
                font-style: italic;
                border: 1px solid #aaa;
                padding: 5px 14px;
                background-color: #fafafa;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                @include boxshadow2;
                @include textshadow;
                background-image: -webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    color-stop(0, #fff),
                    color-stop(1, #fafafa)
                );
            }
        }
        td.col2 {
            text-align: right;
        }
    }
    .descriptions {
        background-color: $background_gray;
        margin-bottom: 5px;
    }
    article, .description .content{
        padding: 10px;
    }
    .description p:last-child {
        margin-bottom: 5px;
    }
    .grid_12.suffix_1 {
        border-right: 1px dashed $hotpink;
    }
    .photos {
        margin-top: 5px;
        background-color: #111;
    }
    .photo {
        background-color: #111;
    }
    .blog_img {
        display: block;
        max-width: 400px;
        @include boxshadow;
        margin: 0 0 10px 0;
    }
    .row_2 {
        padding-top: 15px;
    }
}