.blog img {
    max-width: 100%;
}

.hero-img {
    max-width: 100%;
}

.products-nav {
}
.products-nav--item {
    margin: 0;
}
.products-nav--category {
    margin-left: 0;
}
.products-nav--category-heading {
}
.products-nav--category-item {
}
