.blog img {
    max-width: 100%;
}
.products-nav {
}
.products-nav--item {
    margin: 0;
}
.products-nav--category {
    margin-left: 0;
}
.products-nav--category-heading {
}
.products-nav--category-item {
}


#hero {
    height: 300px;
    overflow: hidden;
}
#hero-scroll {
    display: -webkit-box;
}
#hero img {
    display: block;
    -webkit-box-orient: horizontal;
    margin-top: 10px;
    height: 300px;
}
