$solstice-orange: #d2711f;
$solstice-red: #e9301b;
$solstice-dark-brown: #332920;
$solstice-muted-green: #68715e;
$solstice-white: #eef0d3;

.container-logo {
  display: none;
}
.container-main {
  box-shadow: none;
  width: auto;
  margin: 0;
  border-top: none;
  border-right: none;
  border-left: none;
}
.container-footer {
  margin-top: 50px;
}
.container-w-padding {
  padding: 0;
}
.S-heading {
  background-image: image-url('solstice/header-640.jpg');
  background-position: center;
  background-size: cover;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.S-logo {
  width: 120px * .75;
  height: 198px * .75;
  background-size: cover;
  background-image: image-url('solstice/logo-120.png');
  margin-top: 20px;
}
@media (min-width: 768px) {
  .S-logo {
    margin-top: 40px;
    margin-left: 40px;
    width: 240px * .75;
    height: 397px * .75;
    background-size: cover;
    background-image: image-url('solstice/logo-240.png');
  }
  .S-heading {
    background-image: image-url('solstice/header-960.jpg');
    height: 511px;
  }
}
@media (min-width: 1024px) {
  .S-heading {
    background-image: image-url('solstice/header-1280.jpg');
    height: 650px;
  }
}
@media (min-width: 1200px) {
  .S-heading {
    height: 600px;
  }
}
.S-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  transition: background-color 0.5s;
//  display: none;
}
@media (min-width: 768px) {
  .S-nav {
    display: block;
  }
}
.S-nav__item {
  display: inline-block;
  margin: 0;
  line-height: 1;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
}
.S-nav__link {
  display: inline-block;
  color: $solstice-white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  transition: all 0.2s;
  background-color: $solstice-orange;
  border-radius: 4px;

  &:hover {
    color: $solstice-orange;
  }
  &:visited {
    color: $solstice-white;
  }
}
.S-nav--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 30px;
  background-color: $solstice-muted-green;
  background-image: image-url('solstice/pattern-100h-50o.png');
  background-size: auto 50px;
  text-align: right;
  z-index: 1001;
  box-shadow: 0 0 5px rgba(0,0,0,.6);
}
.S-grid--intro {
  background-color: $solstice-dark-brown;
  padding-bottom: 80px;
}
.S-grid--map {
  background-color: $solstice-white;
}
.S-grid--social {
  background-color: $solstice-white;
}
.S-p {
  font-family: Vollkorn, Georgia, Times New Roman, Serif;
  font-size: 16px;
  color: $solstice-dark-brown;
  line-height: 1.7;
}
@media (min-width: 768px) {
  .S-p {
    font-size: 18px;
  }
}
.S-p--disclaimer {
  font-style: italic;
  font-size: 14px;
  text-align: center;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .S-p {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
}
.S-grid--intro .S-p {
  color: $solstice-white;
  &:first-child {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .S-grid--intro .S-p:first-child {
    margin-top: 50px;
  }
}
.S-a,
.S-a:link,
.S-a:visited {
  color: $solstice-red;
}
.Solistice-signup-btn-wrap {
  margin: 100px 0 20px;
  text-align: center;
}
.Solistice-signup-btn {
  color: #fff;
  font-size: 30px;
  font-family: Georgia, Times New Roman, Serif;
  display: inline-block;
  background-color: $solstice-orange;
  padding: 0 40px;
  line-height: 60px;
  height: 60px;
  border-radius: 3px;
  &:hover {
    color: #fff;
    background-color: darken($solstice-orange, 3%);
  }
}


.angular-leaflet-map {
  height: 320px;
  border: 4px #fff solid;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 1);
}
@media (min-width: 768px) {
  .angular-leaflet-map {
    height: 520px;
  }
}
@media (min-width: 1024px) {
  .angular-leaflet-map {
    height: 640px;
  }
}
