#box {
    @include boxshadow;
}

.right_col {
    #bike_btn {
        margin-bottom: 10px;
        padding-left: 5px;
        margin-top: 150px;
    }
    #logo {
        padding-left: 24px;
        padding-bottom: 25px;
    }
}
