// TODO
//
// - Use classes rather than IDs


#submit_order, #bike_btn {
    font-size: 14px;
}
#submit_order {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    background: transparent image-url('swift-bike.png') no-repeat;
    cursor: pointer;
    width: 150px;
    height: 81px;
    text-align: center;
    text-transform: uppercase;
    font-family: courier new, menlo, monaco;
    font-weight: bold;
}
a#submit_order {
    line-height: 104px;
}
button#submit_order {
    padding-top: 23px;
}
#bike_btn {
    background: transparent image-url('swift-wheel.png') no-repeat;
    display: block;
    text-transform: uppercase;
    text-align: center;
    text-indent: -7px;
    width: 118px;
    height: 81px;
    line-height: 79px;
    padding: 0;
    font-family: courier new, menlo, monaco;
}

.btn {
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #666;
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}
a.btn,
a.btn:visited {
    color: #666;
}
a.btn:hover {
    border: 0;
}
.btn-primary {
    background-color: #E328BB;
    color: #fff;
}

/* Firefox: Get rid of the inner focus border */
.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

