.S-banner-wrap {
  position: relative;
}
.S-banner-link {}
.S-banner-img {
  max-width: 100%;
}
.S-banner-hashtag {
  position: absolute;
  bottom: 8%;
  right: 6%;
  width: 50%;
}
.S-banner-logo {
  position: absolute;
  left: 6%;
  top: 8%;
  width: 20%;
}
