.store-section-heading {
    text-align: center;
    padding: 40px 20px;
}
.store-item {
    margin-bottom: 40px;
}
.store-item--image {
    width: 100%;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.store-item--heading {
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
}
.store-item--heading-link,
.store-item--heading-link:visited {
    color: #333;
}
