.InstaDir-items {
  display: flex;
  flex-wrap: wrap;
}
.InstaDir-item {
  margin: 0 20px 20px 0;
  width: 160px;
}
.InstaDir-img {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.InstaDir-username {
  display: block;
}
.InstaDir-text {
  word-wrap: break-word;
  max-height: 128px;
  overflow-y: auto;
}
