.shoppin-cart {
    background-color: #fff;
    border-top: 20px solid $background_gray;
    box-sizing: border-box;
    padding: 10px;
}
.shoppin-cart__title {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.shoppin-cart__header {
    font-weight: bold;
    color: #333;
}

.shoppin-cart__quantity {
    width: 3em;
}

.shoppin-cart__cart-price-row {
    border-top: 1px solid lighten($border_gray, 10%);
    border-bottom: 1px solid lighten($border_gray, 10%);
}
.shoppin-cart__fabric-charge-notice {
    margin-top: 30px;

    h5, li {
        color: #444;
    }
}
.shoppin-cart__fabric-charge-notice__ul {
    margin-bottom: 0;
}

.shoppin-cart__toolbar {
    margin-top: 20px !important;
    text-align: right;
}

.demph {
    font-size: 90%;
    color: #777;
}

.shoppin-cart__part-list {
    margin-bottom: 0;

    li:last-child {
        margin-bottom: 0;
    };
}
