.product-title {

}

.form-order .row {
    padding: 20px 20px 20px 20px;
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    margin: 0 0 20px;
}
.order-section-heading {
    margin-top: 40px;
}
.label-input-pair {
    margin: 0 0 20px 0;
}
.input-color-with-optional-part {
    margin-top: 10px;
    margin-left: 20px;
}
.label {
    margin-bottom: 5px;

    &.error {
        color: red;
    }
}
.input {

}
.input-checkbox {

}
.input-color {

}

.row-submit {
    margin-top: 40px;
}

.handmade_label {
    display: block;
    background: transparent image-url('scissors.png') no-repeat;
    text-transform: lowercase;
    text-align: center;
    text-indent: -19px;
    width: 121px;
    height: 42px;
    line-height: 67px;
    margin-bottom: 10px;
}

.woah {
    padding: 1px;
    background-color: #ff9;
    line-height: 1.4;
}
.order-form-does-not-work-without-javascript {
    display: none;
}
.nojs .order-form-does-not-work-without-javascript {
    display: block;
}
