body {
    background-color: $background_offwhite;
    font-family: courier new, menlo, monaco;
    padding-top: 30px;
}

button, p, h1, h2, h3, h4, h5, ul, li a {
    font-family: courier new, menlo, monaco;
}

.row-footer,
.row-nojs,
.row-humans,
.row-prebox {
    margin-top: 20px;
    margin-bottom: 20px;
}

#pre_box {
    margin-bottom: 5px;
    text-align: right;
}
#pre_box {
    a {
        color: $text_lightgray;
        @include textshadow;
    }
    a:hover {
        color: $hotpink;
    }
}

#box {
//    border: 1px solid $border_gray;
//    background-color: #fff;
}
#submit_order, #bike_btn {
    font-size: 14px;
}
#submit_order {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    background: transparent image-url('swift-bike.png') no-repeat;
    cursor: pointer;
    width: 150px;
    height: 81px;
    text-align: center;
    text-transform: uppercase;
}
a#submit_order {
    line-height: 104px;
}
button#submit_order {
    padding-top: 23px;
}
#bike_btn {
    background: transparent image-url('swift-wheel.png') no-repeat;
    display: block;
    text-transform: uppercase;
    text-align: center;
    text-indent: -7px;
    width: 118px;
    height: 81px;
    line-height: 79px;
    padding: 0;
}
#logo {
    display: block;
}
a, button {
    color: $hotpink;
    text-decoration: none;
}
