.store-section-heading {
    text-align: center;
    padding: 40px 20px;
}
.store-item {
    margin-bottom: 40px;
}
.store-item--image { width: 100%; }
.store-item--heading {
    text-align: left;
    font-size: 14px;
}
.store-item--heading-link {
    color: #333;
}
.store-item--link {
    font-size: 14px;
}
.store-item--link {
    display: inline-block;
    margin-right: 20px;
    font-family: georgia, serif;
}

