<h3>
    Colors
</h3>
<div id="color_swatches">
    <% @colors.each do |color| %>
        <div class="grid_2 alpha omega" style="background-color: <%= color.hex %>">
            <%= color.title %>
        </div>
    <% end %>
</div>

