<form
    id="order_form"
    class="form-order"
    ng-submit="onFormSubmit()"
    novalidate>

    <%= render 'order_form_sizes' %>
    <%= render 'order_form_question' %>
    <%= render 'order_form_parts' %>
    <h4 class="order-section-heading">
        Order it!
    </h4>
    <div class="l-row row--order">
        <button type="submit" id="js-submit-order" class="btn-bike">
            Add to Cart
        </button>
    </div>

</form>
