<% if @product.question.present? %>
	<h4 class="order-section-heading">
	    Q&amp;A
	</h4>
    <div class="row row-question">
        <label for="product-answer" class="label">
            <%= @product.question %>
        </label>
        <% if @product.answer.blank? %>
            <input id="product-answer" name="product1[]" type="text" class="input">
        <% else %>
            <select id="product-answer" name="product1[]" class="input">
                <option value="invalid">
                    Choose One
                </option>
                <% @product.answer.split(',').each do |option| %>
                    <option>
                        <%= option %>
                    </option>
                <% end %>
            </select>
        <% end %>
    </div>
<% end %>
