<div ng-show="product.question">
    <h4 class="order-section-heading">
        Your Details
    </h4>
    <div class="row row-question">
        <label for="product-answer" class="label">
            {{ product.question }}
        </label>
        <input
            ng-hide="product.originalAnswer"
            ng-model="product.selectedAnswer"
            type="text"
            class="input">
        <select
            ng-show="product.originalAnswer"
            ng-model="product.selectedAnswer"
            class="input">
            <option value="Choose One">
                Choose One
            </option>
            <option ng-repeat="answer in product.answer">
                {{ answer }}
            </option>
        </select>
    </div>
</div>
