<div ng-show="product.parts">
    <h4 class="order-section-heading">
        Customize your parts
    </h4>
    <div class="row row--order row--fabric-notice" ng-show="product.mostExpensiveFabric && !product.userAcknowledgedFabricChargeNotice">
        <p>
            Including &ldquo;{{ product.mostExpensiveFabric.selectedColor.title }}&rdquo; adds a
            charge of ${{ product.mostExpensiveFabric.selectedColor.price }} to this bag.
        </p>
        <ul>
            <li>You will only be charged for your most expensive fabric choice.</li>
            <li>The charge is only applied once per bag.</li>
            <li>Use it as many times as you&rsquo;d like!</li>
        </ul>
        <div class="button" ng-click="onUserAcknowledgedFabricChargeNotice()">Okay!</div>
    </div>
    <div class="row row--order row--parts">
        <div ng-repeat="part in product.parts">
            <div class="label-input-pair">
                <label class="label {{ part.inputIsInvalid }}">
                    <input
                        ng-show="part.price"
                        ng-model="part.activated"
                        ng-click="onPartCheckboxClicked()"
                        type="checkbox"
                        class="input input-checkbox"
                        data-hash="TODO"
                        data-product="{{ part.title }}"
                        data-price="{{ part.price }}">

                    {{ part.title }}
                    <span ng-show="part.price">
                        ${{ part.price }}
                    </span>
                </label>

                <%= render 'color_picker' %>
            </div>
        </div>
    </div>
</div>
