<div ng-show="product.sizes">
    <h4 class="order-section-heading">
        Sizing
    </h4>
    <div class="row row-sizes">
        <div class="label-input-pair">
            <label class="label">
                Choose your size!
            </label>
            <select class="select-size" ng-model="product.selectedSize">
                <option value="Choose One">
                    Choose One
                </option>
                <option ng-repeat="size in product.sizes" value="{{ size.title }}::{{ size.price }}">
                    {{ size.title }} (${{ size.price }})
                </option>
            </select>
        </div>
    </div>
</div>
