<% unless @product.question.blank? %>
    <label for="product-answer">
        <%= @product.question %>
    </label>
    <% if @product.answer.blank? %>
        <input id="product-answer" name="product1[]">
    <% else %>
        <select id="product-answer" name="product1[]">
            <option value="invalid">
                Choose One
            </option>
            <% @product.answer.split(',').each do |option| %>
                <option>
                    <%= option %>
                </option>
            <% end %>
        </select>
    <% end %>
<% end %>
