<div ng-show="product.sizes">
    <h4 class="order-section-heading">
        Sizing
    </h4>
    <div class="row row--order row--sizes">
        <div class="label-input-pair">
            <label class="label">
                Choose your size!
            </label>
            <select
                ng-model="product.selectedSize"
                ng-change="onSizeSelectChanged()"
                ng-options="s.title + ' ($' + s.price + ')' for s in product.sizes"
                required>
            </select>
        </div>
    </div>
</div>
