<div ng-show="product.parts">
    <h4 class="order-section-heading">
        Customize your parts
    </h4>
    <div class="row row-parts">
        <div ng-repeat="part in product.parts">
            <div class="label-input-pair">
                <!-- TODO need to re-implement clickable label? -->
                <label class="label">
                    <input
                        ng-show="part.price"
                        ng-model="part.activated"
                        ng-click="onPartCheckboxClicked()"
                        id="checkbox_"
                        type="checkbox"
                        class="input input-checkbox"
                        data-hash="TODO"
                        data-product="{{ part.title }}"
                        data-price="{{ part.price }}">

                    {{ part.title }}
                    <span ng-show="part.price">
                        ${{ part.price }}
                    </span>
                </label>

                <%= render 'color_picker' %>
            </div>
        </div>
    </div>
</div>
