<% if @product.testimonials.present? %>

    <div class="testimonials">
        <h3 class="testimonials-heading">
            Testimonials
        </h3>
        <% @product.testimonials.each do |testimonial| %>
            <div class="testimonial">
                <p class="testimonial-body">
                    <%= raw md testimonial.body %>
                </p>
                <p class="testimonial-author">
                    &mdash; <%= testimonial.author %>
                </p>
            </div>
        <% end %>
    </div>
    <%= content_for :js do %>
        <script>
            $('.testimonial')
                .hide()
                .first()
                .show();

            $('.testimonials')
                .append('<p id=readMoreTestimonials class=button>Read More Testimonials</p>')
                .find('#readMoreTestimonials')
                .css('cursor', 'pointer')
                .click(function() {
                    $('.testimonial').show();
                    $('#readMoreTestimonials').remove();
                });
        </script>
    <% end %>

<% end %>


