<div ng-controller="CheckoutCtrl" ng-cloak>
    <div class="twelve columns">
        <h2>
            Checkout
        </h2>
        <h4>
            Shipping
        </h4>
        <div class="row row--order" id="row-shipping">
            <div class="label-input-pair">
                <label class="label">
                    <input type="checkbox" ng-model="pickup" ng-change="onPickupChanged()"> Check if you will be picking your order
                </label>
            </div>
            <div class="label-input-pair pickup-is-{{ pickup }}">
                <label class="label">
                    Country
                </label>
                <select
                    ng-change="onCountrySelectChanged()"
                    ng-model="country"
                    ng-options="k as v for (k,v) in countryCodes"
                    ng-disabled="pickup"
                    class="input">
                </select>
            </div>
            <div class="label-input-pair pickup-is-{{ pickup }}">
                <label class="label">
                    Street
                </label>
                <input type="text" ng-model="line1" ng-disabled="pickup">
            </div>
            <div class="label-input-pair pickup-is-{{ pickup }}">
                <label class="label">
                    City
                </label>
                <input type="text" ng-model="city" ng-disabled="pickup">
            </div>
            <div class="label-input-pair pickup-is-{{ pickup }}">
                <label class="label">
                    State/Province
                </label>
                <input
                    type="text"
                    ng-model="state"
                    ng-hide="countryIsUSCA"
                    ng-disabled="pickup">
                <select
                    ng-model="state"
                    ng-show="countryIsUSCA"
                    ng-options="k as v for (k,v) in states"
                    ng-disabled="pickup"
                    class="input">
                </select>
            </div>
            <div class="label-input-pair pickup-is-{{ pickup }}">
                <label class="label">
                    Zip/Postal Code
                </label>
                <input type="text" ng-model="zip_code" ng-disabled="pickup">
            </div>
            <div class="label-input-pair pickup-is-{{ pickup }}">
                <button class="btn btn--progress" ng-click="onCalculateShippingCostBtnClicked()" ng-disabled="pickup || busyShipping">
                    <span sw-visible="!busyShipping">
                        Calculate Shipping Cost
                    </span>
                    <img sw-visible="busyShipping" src="/assets/spin.gif" class="btn--progress__spin">
                </button>
            </div>
            <p ng-show="isShippingReady" class="pickup-is-{{ pickup }} best-price-{{ provider.best }}" ng-repeat="provider in rates">
                We will ship your package to you with {{ provider.provider }} via
                {{ provider.service }} at a cost of {{ provider.charge / 100 | currency }}.
            </p>
        </div>
        <div ng-show="pickup" id="row-wa-tax-check">
            <h4>
                Do you live in the state of Washington?
            </h4>
            <p>
                We ask in order to charge taxes appropriately.
            </p>
            <div class="row row--order">
                <div class="label-input-pair">
                    <label class="label">
                        <input type="checkbox" ng-model="waStateResident" ng-change="waStateResidentChanged()">
                    </label>
                </div>
            </div>
        </div>
        <div ng-show="isShippingReady || pickup" id="row-contact">
            <h4>
                Contact info
            </h4>
            <div class="row row--order">
                <div class="label-input-pair">
                    <label class="label">
                        Email Address
                    </label>
                    <input type="email" placeholder="you@example.com" ng-model="email">
                </div>
                <div class="label-input-pair">
                    <label><input name="send_me_marketing_emails" type="checkbox"> Send me marketing emails</label>
                </div>
            </div>
        </div>
        <div ng-show="isShippingReady || pickup" id="row-payment">
            <h4>
                Payment info
            </h4>
            <div class="row row--order">
                <div class="label-input-pair">
                    <label class="label">
                        Credit Card #
                    </label>
                    <input
                        type="text"
                        size="20"
                        data-stripe="number"
                        placeholder="**** **** **** ****"
                        pattern="[\d ]*">
                </div>
                <div class="label-input-pair">
                    <label class="label">
                        CVC
                    </label>
                    <input
                        style="width: 3em"
                        type="text"
                        size="3"
                        maxlength="3"
                        data-stripe="cvc"
                        placeholder="***"
                        pattern="\d*">
                </div>
                <div class="label-input-pair">
                    <label class="label">
                        Exp Month/Year
                    </label>
                    <input
                        style="width: 3em;"
                        class="input--inline"
                        type="text"
                        size="2"
                        maxlength="2"
                        data-stripe="exp-month"
                        placeholder="MM"
                        pattern="\d*">
                    <input
                        style="width: 4em;"
                        class="input--inline"
                        type="text"
                        size="4"
                        maxlength="4"
                        id="exp-year"
                        data-stripe="exp-year"
                        placeholder="YYYY"
                        pattern="\d*">
                </div>
            </div>
            <div class="row row--order">
                <button class="btn btn--progress" ng-click="onBuyItButtonClicked()" ng-disabled="busyBuying">
                    <span sw-visible="!busyBuying">
                        Buy It
                    </span>
                    <img sw-visible="busyBuying" src="/assets/spin.gif" class="btn--progress__spin">
                </button>
            </div>
        </div>
    </div>
    <div class="four columns">
        <div class="row row--checkout-sidebar">
            <h4>
                Your Order
            </h4>
        </div>
        <div class="row row--checkout-sidebar">
            <b>Items in Cart</b>:
            <ul ng-repeat="product in cart.products">
                <li>
                    {{ product.title }}
                    <span class="demph" title="Quantity: {{ product.quantity }}">
                        ({{ product.quantity }})
                    </span>
                </li>
            </ul>
        </div>
        <div class="row row--checkout-sidebar" ng-show="cart.taxAmount">
            <b>WA State Tax Amount</b>:
            {{ (cart.taxAmount / 100) | currency }}
        </div>
        <div class="row row--checkout-sidebar" ng-show="cart.shippingCharge">
            <b>Shipping</b>:
            {{ (cart.shippingCharge / 100) | currency }}
        </div>
        <div class="row row--checkout-sidebar">
            <b>Total Price</b>:
            {{ (cart.total / 100) | currency }}
        </div>
    </div>
</div>
