<h2>
    You purchased this thing. Good job
</h2>
<p>
    Email<br>
    <%= @sale[:email] %>
</p>

<p>
    Amount<br>
    <%= number_to_currency(cents_to_dollars(@sale[:amount])) %>
</p>


<p>
    Description<br>
    <%= @sale[:description] %>
</p>


<%= content_for :js do %>
    <script>
    console.log('good job');
    // localStorage.removeItem('cart')
    </script>
<% end %>
