<!DOCTYPE html>
<html>
<head>
  <title>Swift Site</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="box">
    <% if logged_in? %>
      <a id="logout" class="session_link" href="/logout">log out</a>
    <% else %>
      <a id="login" class="session_link" href="/logout">log out</a>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>

